nav a{
    margin: 40px;
    font-size: 1.2rem;
    text-decoration: none;
    /* color: rgba(84, 115, 110); */
    text-transform: uppercase;
    color: rgba(251, 250, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    padding-top: 25px;
    float: right;
}
#logo{
    margin-left: 50px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
}
.navigation-bar{
    background-color: rgba(106, 172, 162);
    width: 100%;
    position: fixed;
}
.website-desc{
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 10px;
    /* color: rgba(84, 115, 110); */
    color: rgba(251, 250, 246);
    text-transform: uppercase;
    font-weight: bold;

}
.backgroundimgcontainer{
    width: 45%;
    height: 45%;
    margin-right: auto;
    margin-left: auto;
}
.background-img{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;

}
body{
    background-color: #9FC9C2;
    margin: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1{
    margin-top: 20px;
    margin-left: 40px;
    color: rgba(251, 250, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.myth{
    width: 18vw;
    height: 18vw;
    border-radius: 10%;
    transition: transform 0.2s;
}
.container{
    margin: 40px 0;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6vw;
    row-gap: 3vw;
}
.myth:hover{
    /* border: 4px solid rgba(251, 250, 246); */
    transform: scale(1.2);
}
.footer{
    display: flex;
    margin-top: 40px;
    height: 8vh;
    background-color:rgba(106, 172, 162);
    justify-content: center;
    align-items: center;
    color: rgba(251, 250, 246);
    font-size: 18px;
}
::selection{
    background-color: rgb(185, 231, 205);
}
nav>a:hover{
    text-decoration: underline;
}